header {
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 65px;
  color: rgb(100,200,200);

}



.main {
  margin: auto;
  width: 50%;
}

.question {
  visibility: hidden;
  font-size: 30px;
  position: relative;
  text-align: center;
}

.choice {
  border: 2px solid black;
  border-radius: 3px;
  margin: 40px;


}

.choice:hover {
  cursor: pointer;
  background-color: grey;
}

.answers {
  visibility: hidden;
  display: flex;
}

.button-holder {


}

.button {
  border: 3px solid black;
  border-radius: 5px;
  position: relative;
  left: 25%;
  text-align: center;
  width: 50%;
}

.button:hover {
  cursor: pointer;
  background-color: grey;
}

.buttonplace {
  position: relative;
  text-align: center;
}

#generate {
  visibility: hidden;
  background-color: rgb(100,200,200);
  font-size: 18px;
  border-radius: 5px;

}

#correct {

}

.score-box {
  visibility: hidden;

}

p {
  text-align: center;
  font-size: 18px;
  width: 250px;
}

.result {
  position: relative;
  left: 25%;
  width: 50%; 
}

.score {
  visibility: hidden;
  position: relative;
  left: 25%;
  width: 50%;


}
